<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SwissBank</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AccountCreate</display-name>
    <servlet-name>AccountCreate</servlet-name>
    <servlet-class>com.sharma.services.AccountCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountCreate</servlet-name>
    <url-pattern>/AccountCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.sharma.services.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AmountDeposit</display-name>
    <servlet-name>AmountDeposit</servlet-name>
    <servlet-class>com.sharma.services.AmountDeposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmountDeposit</servlet-name>
    <url-pattern>/AmountDeposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AmountWithdraw</display-name>
    <servlet-name>AmountWithdraw</servlet-name>
    <servlet-class>com.sharma.services.AmountWithdraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmountWithdraw</servlet-name>
    <url-pattern>/AmountWithdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AmountTransfer</display-name>
    <servlet-name>AmountTransfer</servlet-name>
    <servlet-class>com.sharma.services.AmountTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmountTransfer</servlet-name>
    <url-pattern>/AmountTransfer</url-pattern>
  </servlet-mapping>
</web-app>